.container {
    display: flex;
    flex-direction: column;
    margin: 6px;
    padding: 4px;
    width: 240px;
}

.title {
    width: 100%;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    opacity: 0.9;
    transition: 0.5s ease;
}

.img:hover {
    opacity: 1;
    transition: 1s ease;
}

.btnDelete {
    background-color: #ffcccc;
    border: none;
    color: white;
    width: 100%;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btnDelete:hover {
    background-color: red;
}

.btnAdded,
.btnAdd {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.btnAdd:hover {
    color: red
}